.main {
    padding: 0 50px;
    display: inline-block;
}

.main__products {
    margin: 0;
}

.main>img {}

@media (max-width: 720px) {
    .main {
        display: block;
        width: 100%;
        padding: 0;
    }
}