.navbar {
    background: var(--navbar);
    width: 100%;
    color: var(--text);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    font-size: 20px;
    margin-bottom: 20px;
}

.navbar__hero {
    margin: 20px;
}

.icon {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 50px;
    transform: scale(.7);
    margin: 0 10px;
    cursor: pointer;
}

.icon:hover {
    opacity: .5;
}

.icon .number {
    background: var(--background);
    color: var(--navbar);
    padding: 5px;
    text-align: center;
    border-radius: 25px;
    position: absolute;
    right: -60%;
    top: -15%;
    min-width: 25px;
    height: 25px;
    font-weight: bold;
}

.navabar__user {
    margin: 15px;
    width: 250px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    position: relative;
    border-radius: 25px;
}

.navabar__user>img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid #fff;
}

.navabar__user-info p {
    margin: 0;
}

.navabar__user:hover .navbar__dropdown {
    opacity: 1;
    visibility: visible;
    transform: translateY(40%);
    transition: all .5s ease-in;
}

.navbar__dropdown {
    width: 100%;
    opacity: 0;
    visibility: collapse;
    transform: translateY(-40px);
    background: var(--navbar);
    padding: 0;
    position: absolute;
    top: 0;
    margin: 0;
    z-index: 1;
    border-radius: 25px;
    border: 1px solid var(--background);
    padding: 15px;
    transition: all .2s ease-out;
}

.dropdown__item {
    cursor: pointer;
    list-style: none;
    margin: 5px 0;
    display: block;
    width: 100%;
}

.dropdown__item:hover {
    background: var(--background);
    color: #000;
}

.dropdown__item img {
    width: 15px;
    margin: 0 10px;
}